*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#logo{
    width: 12rem;
}

a{
 
    color: black;
}

.imgCard{
    width: 16rem;
    height: 75%;
    margin: 5px;
    object-fit: contain;
}
#monstersMain{
    background-color: red;
}
#weaponsMain{
    background-color: blue;
}
#indexMain{
    background-color: green;
}
.card{
    background-color: blueviolet;
    padding: 1rem;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.myWeapons{
    /*width: 16rem;
    height: 75%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    object-fit: contain;*/
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.allWeapons{
   /* width: 16rem;
    height: 75%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    object-fit: contain;*/
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: start;
}
.overview{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.setting{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.overview{
    display: flex;
    
}