*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;

}

#logo{
    width: 5rem;
}

a{
 
    color: white;
}

.imgCard{
    width: 16rem;
    /*height: 75%;
    margin: 5px;
    object-fit: contain;*/
}
#monstersMain{
    color: white;
    background: rgb(19,19,20);
    background: linear-gradient(90deg, rgba(19,19,20,1) 21%, rgba(74,41,0,1) 63%);
    min-height: 80vh;
}
#weaponsMain{
    color: white;
    background: rgb(19,19,20);
    background: linear-gradient(90deg, rgba(19,19,20,1) 21%, rgba(74,41,0,1) 63%);
    min-height: 80vh;
}
#indexMain{
    background: rgb(19,19,20);
    background: linear-gradient(90deg, rgba(19,19,20,1) 21%, rgba(74,41,0,1) 63%);
    min-height: 80vh;
}
.card{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    /*width: 20rem;
    height: 20rem;*/
}
.details{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.myWeapons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.allWeapons{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    /*display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: start;
    padding-top: 1rem;
    padding-bottom: 1rem;*/
}
.overview{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.setting{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.overview{
    display: flex;
    
}
header{
    background-color: black;
    display: flex;
    min-height: 10vh;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 1rem;
    align-items: stretch;
    
}
nav a{
    color: white;
    margin-right: .5rem;
}
h2, h3, a, p{
    color: white;
}
h4{
    text-align: center;
}
.overviewDiv{
    display: flex;
    flex-direction: column;
}
.mainLog{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
h2{
    text-align: center;
    margin-bottom: 3rem;
    background-color: gray;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    color: white;
    background-color: black;
    padding: 1rem;
    
}
#imgLogoMain{
    width: 50%;
}
.overviewDiv>p{
    width: 20rem;
}
.setting{
    display: flex;
    margin-top: 2rem;

}
.setting p{
    width: 20rem;
}
.setting>img{
    width: 50%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 10vh;
        color: white;
        background-color: black;
        padding: 1rem;
    }
    h6{
        width: 40%;
    }
    .checkbox{
        flex-direction: column;
        align-items: baseline;
    }
    .myWeapons{
        gap: 1rem;
    padding: 1rem;
    }
}
@media  only screen and (max-width: 1024px) and (max-width: 1439px){
    .checkbox{
        flex-direction: column;
        align-items: baseline;
    }

}
@media only screen and (max-width: 767px){
    .mainLog > img{
        width: 80%;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        flex-wrap: wrap;
        padding: 1rem;
    }

    header{
        flex-direction: column;
        nav{
            display: flex;
            flex-direction: column;
        }
    }
    .checkbox{
        flex-direction: column;
        align-items: baseline;
    }
    section.myWeapons{
        
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        flex-wrap: wrap;
        padding: 1rem;
    }
}
section.container{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: stretch;
    row-gap: 1rem;
}
.checkbox{
    display: flex;
    flex-wrap: wrap;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    background-color: black;
}
section.myWeapons{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

}
div.container{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    padding-bottom: 1rem;
}